<%= form_for(@turma) do |f| %>
  <% if @turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
      <% @turma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :turno %><br />
    <%= f.text_field :turno %>
  </div>
  <div class="field">
    <%= f.label :horario %><br />
    <%= f.text_field :horario %>
  </div>
  <div class="field">
    <%= f.label :professor_id %><br />
    <%= f.number_field :professor_id %>
  </div>
  <div class="field">
    <%= f.label :disciplina_id %><br />
    <%= f.number_field :disciplina_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
