<%= nested_form_for(@pesquisa) do |f| %>
  <% if @pesquisa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pesquisa.errors.count, "error") %> prohibited this pesquisa from being saved:</h2>

      <ul>
      <% @pesquisa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  
  <%= f.fields_for :perguntas do |pergunta_form| %>
    <%= pergunta_form.label :ordem %>
    <%= pergunta_form.text_field :ordem %><br/>
    <%= pergunta_form.label :pergunta_form %>
    <%= pergunta_form.text_field :pergunta %><br/>
    <%= pergunta_form.link_to_remove "Remover" %>
  <% end %>
  <p><%= f.link_to_add "Adicionar", :perguntas %></p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
