<% present @pesquisa do |presenter| %>
  <h3>Progresso da Pesquisa</h3>
  <p><%= @total_respostas %> de <%= @total_alunos %> responderam</p>
  <%= presenter.barra_de_percentual %>
  <hr/>

  <h3><%= @pesquisa.nome %> - <%= presenter.botao_imprimir %><%= presenter.botao_excel %></h3>
  <% #= presenter.exibe_detalhe_perguntas(@perguntas) 
  %>
  
  <hr/>
  
  <h3>Instituições</h3>
  <%= presenter.exibe_detalhe_instituicoes(@instituicoes) %>
<% end %>