<% present @curso do |presenter| %>
  <h3><%= @curso.nome %></h3>

  <p>
    <%= @curso.total_alunos_responderam %> de <%= @curso.total_alunos %> responderam
    &nbsp;
    <%= presenter.link_alunos_que_nao_responderam %>
  </p>
  <%= presenter.barra_de_percentual %>

  <hr/>

  <h3><%= @pesquisa.nome %> - <%= presenter.botao_imprimir %><%= presenter.botao_excel %></h3>

  <hr/>

  <% if @pesquisa.tipo_resposta == PesquisaDocente::TipoResposta::UMA_RESPOSTA_POR_TURMA %>
  <h3>Turmas</h3>
  <ul>
    <% @curso.turmas.each do |turma| %>
      <li><%= presenter.link_resultado_por_turma(turma) %></li>
    <% end %>  
  </ul>
  <% end %>
<% end %>