<% present @curso do |presenter| %>
  <h3><%= @curso.nome %></h3>

  <p>
    <%= @curso.total_alunos_responderam %> de <%= @curso.total_alunos %> responderam
    &nbsp;
    <%= presenter.link_alunos_que_nao_responderam %>
  </p>
  <%= presenter.barra_de_percentual %>

  <hr/>

  <h3><%= @pesquisa.nome %> - <%= presenter.botao_imprimir %></h3>
  <ol>
    <%= render :partial => "pergunta", :collection => @perguntas, :locals => {presenter: presenter} %>
    <li><h4>Média Geral:</h4> <%= presenter.barra_media_geral(@pesquisa) %></li>
  </ol>

  <hr/>

  <h3>Turmas</h3>
  <ul>
    <% @curso.turmas.each do |turma| %>
      <li><%= presenter.link_resultado_por_turma(turma) %></li>
    <% end %>  
  </ul>
<% end %>