<h3><%= @instituicao.nome %></h3>
<p>
  <%= @instituicao.total_alunos_responderam %> de <%= @instituicao.total_alunos %> responderam 
  &nbsp;
  <%= link_to 'Alunos que faltam responder', {:action => :alunos_que_faltam_por_instituicao}, :id => @instituicao.id, :class => "btn btn-warning" %>
</p>
<div class="progress progress-striped progress-success active">
  <div class="bar" style="width: <%= number_to_percentage @instituicao.percentual_responderam, :precision => 0 %>;"></div>
</div>
<hr/>

<h3><%= @pesquisa.nome %></h3>
<ol>
<% @perguntas.each do |pergunta| %>
  <li>
    <%= pergunta.pergunta %> &nbsp;
    <div class="progress progress-alert">
      <div class="bar" style="width: <%= number_to_percentage pergunta.media_por_instituicao(@instituicao) * 10, :precision => 0 %>;"><p>média <%= number_with_precision pergunta.media_por_instituicao(@instituicao), :precision => 1, :separator => ',' %></p></div>
    </div>
  </li>
<% end %>
  <li>
    <h4>Média Geral:</h4>
    <div class="progress progress-alert">
      <div class="bar" style="width: <%= number_to_percentage @pesquisa.media_por_instituicao(@instituicao) * 10, :precision => 0 %>;"><p>média <%= number_with_precision @pesquisa.media_por_instituicao(@instituicao), :precision => 1, :separator => ',' %></p></div>
    </div>
  </li>
</ol>

<hr/>

<h3>Cursos</h3>
<ul>
  <% @instituicao.cursos.each do |curso| %>
    <li id="curso_<%= curso.id %>"><%= curso.nome %> <em>(carregando dados do curso ...)</em></li>
  <% end %>
</ul>
