<% present @instituicao do |presenter| %>
  <h3><%= @instituicao.nome %></h3>
  <p>
    <%= @instituicao.total_alunos_responderam %> de <%= @instituicao.total_alunos %> responderam 
    &nbsp;
    <%= presenter.link_alunos_que_nao_responderam %>
  </p>
  <%= presenter.barra_de_percentual %>
  
  <hr/>

  <h3><%= @pesquisa.nome %> - <%= presenter.botao_imprimir %><%= presenter.botao_excel %></h3>

  <hr/>

  <h3>Cursos</h3>
  <ul><%= render :partial => "curso", :collection => @instituicao.cursos, :locals => {presenter: presenter} %></ul>
<% end %>