<h3><%= @instituicao.nome %></h3>
<p><%= @instituicao.total_alunos_responderam %> de <%= @instituicao.total_alunos %> responderam</p>
<div class="progress progress-striped progress-success active">
  <div class="bar" style="width: <%= number_to_percentage @instituicao.percentual_responderam, :precision => 0 %>;"></div>
</div>
<hr/>
<h3>Cursos</h3>
<ul>
  <% @instituicao.cursos.each do |curso| %>
  <li>
    <%= link_to "#{curso.nome} (#{curso.total_alunos_responderam} de #{curso.total_alunos})", :action => "resultado_por_curso", :id => curso.id %>
    <div class="progress progress-striped active">
      <div class="bar" style="width: <%= number_to_percentage curso.percentual_responderam, :precision => 0 %>;"></div>
    </div>
  </li>
  <% end %>  
</ul>
