<h3><%= @curso.nome %></h3>

<p><%= @curso.total_alunos_responderam %> de <%= @curso.total_alunos %> responderam</p>
<div class="progress progress-striped progress-success active">
  <div class="bar" style="width: <%= number_to_percentage @curso.percentual_responderam, :precision => 0 %>;"></div>
</div>

<hr/>

<h3><%= @pesquisa.nome %></h3>
<ol>
<% @perguntas.each do |pergunta| %>
  <li>
    <%= pergunta.pergunta %> &nbsp;
    <div class="progress progress-alert">
      <div class="bar" style="width: <%= number_to_percentage pergunta.media_por_curso(@curso) * 10, :precision => 0 %>;"><p>média <%= number_with_precision pergunta.media_por_curso(@curso), :precision => 1, :separator => ',' %></p></div>
    </div>
  </li>
<% end %>
</ol>

<hr/>

<h3>Turmas</h3>
<ul>
  <% @curso.turmas.each do |turma| %>
  <li>
    <%= link_to "#{turma.professor.nome} - #{turma.disciplina.nome} #{turma.turno} #{turma.horario} (#{turma.total_alunos_responderam} de #{turma.total_alunos})", :action => 'resultado_por_turma', :id => turma.id %>
  </li>
  <% end %>  
</ul>